@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import 'tailwindcss';

@import "flowbite/src/themes/default";

@plugin "flowbite/plugin";


@source "../../node_modules/flowbite";
@source "../../node_modules/flowbite-datepicker";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@plugin "@tailwindcss/typography";

@theme {
  --color-scheme: light;
  --dark-mode: false;
}

@custom-variant dark (&:not(*));

@theme {
  --breakpoint-xlg: 69rem;
}

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-open-sans: 'Open Sans', ui-sans-serif, system-ui, sans-serif;
}

@theme {
    --color-concrete-50: #f8f8f8;
    --color-concrete-100: #f2f2f2;
    --color-concrete-200: #dcdcdc;
    --color-concrete-300: #bdbdbd;
    --color-concrete-400: #989898;
    --color-concrete-500: #7c7c7c;
    --color-concrete-600: #656565;
    --color-concrete-700: #525252;
    --color-concrete-800: #464646;
    --color-concrete-900: #3d3d3d;
    --color-concrete-950: #292929;

    --color-geyser-50: #f6f8f9;
    --color-geyser-100: #ebf0f3;
    --color-geyser-200: #d3dde3;
    --color-geyser-300: #aec1cb;
    --color-geyser-400: #81a0af;
    --color-geyser-500: #628395;
    --color-geyser-600: #4d6b7c;
    --color-geyser-700: #3f5665;
    --color-geyser-800: #374955;
    --color-geyser-900: #313f49;
    --color-geyser-950: #212a30;


}

[x-cloak] { display: none !important; }